.git/
.terraform/
bin/
test/

### Scoop additions ###

# Added to upstream chart but uneeded by scoop

jfrog
linux-386

# Generic

.DS_Store
.circleci/
Makefile
.gitignore
.helmignore

# Common backup files
*.swp
*.bak
*.tmp
*~
*.md

# Various IDEs
.project
.idea/
*.tmproj
.vscode/

